.tw-Card {
  width: 35vh;
  height: 100%;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: 10px;
    font-size: 22px;
    font-weight: lighter;
  }
}

.content-card,
.card-trend {
  cursor: pointer;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  justify-content: space-between;

  span {
    font-size: 14px;
    margin: 6px 0;
    color: #97999a;
  }

  label {
    cursor: pointer;
    font-size: 12px;
    color: #000;
  }
}

.content-card:hover {
  background: #131815;
}

.card-trend {
  align-items: start;
}

.tw-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tw-info,
.tw-headTrends {
  display: flex;
  flex-direction: column;
}

.tw-Avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  border-radius: 22px;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid #f9f9f9;
  transition: 0.3s ease background-color;
}

.tw-followCard-button.is-follow:hover .msgFollowing {
  display: none;
}

.tw-followCard-button.is-follow:hover .textRemove {
  font-size: 12px;
  color: rgb(0, 255, 102);
  display: block;
}

.textRemove {
  display: none;
}

.is-follow:hover {
  border: 2px solid rgb(0, 255, 102);
  background: #19341c69;
  color: rgb(0, 255, 102);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.more-users,
.more-trends {
  padding: 20px 10px;
  text-decoration: none;
  color: rgb(0, 255, 102);
}

.contain-cards {
  display: flex;
  gap: 20px;
}

.card-trend:hover {
  background: #131815;
}

.tw-TrendsCard {
  width: 35vh;
  height: 100%;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: 10px;
    font-size: 22px;
    font-weight: lighter;
  }
}

.tw-buttonTrends {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: none;
  border: none;

  transition: 0.3s ease background-color;
}

.tw-buttonTrends:hover {
  background: #19341c69;
  color: rgb(0, 255, 102);
}
