.tw-Card {
  width: 35vh;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin-left: 10px;
    font-size: 22px;
    font-weight: lighter;
  }
}

.content-card {
  padding: 0px 12px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  justify-content: space-between;
}

.tw-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tw-info {
  display: flex;
  flex-direction: column;
}

.tw-Avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  border: 0;
  border-radius: 999px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #000;
  transition: 0.3s ease background-color;
}

.tw-followCard-button.is-follow:hover .msgFollowing {
  display: none;
}

.tw-followCard-button.is-follow:hover .textRemove {
  font-size: 12px;
  display: block;
}

.textRemove {
  display: none;
}

.is-follow:hover {
  border-color: rgb(129, 5, 5);
  background: #34191969;
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.more-users {
  padding: 20px 10px;
}
